@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    I think this will be sucessfull<br />
 admin@pcfunda.com<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support00kjj:</strong> <a href="pcfunda.com">erakm5493@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">admin@pcfunda.xxxcom</a>
</address>
